* {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
/* Commit */
.main-heading {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.main-desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: normal;
}
.main-title {
  letter-spacing: 0.7px;
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.btn {
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  text-align: center;
  line-height: 68px;
  font-size: 1.8rem;
  font-weight: 600;
  min-width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
}
a:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
}
.content {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1170px;
}
/* header */
.header-fixed {
  background-color: #fff;
  z-index: 1;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: -30px;
  padding-top: 30px;
}

.nav {
  display: flex;
  padding: 22px 0 11px;
  align-items: center;
}

.nav .list {
  margin-left: auto;
  display: flex;
  margin-right: 158px;
}

.nav .list a {
  color: #2f3a3b;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 11px 19px;
}

.nav .list a:hover {
  text-shadow: 1px 1px 0px currentColor;
}

.nav .action a:first-child {
  margin-right: 24px;
  color: #494949;
  font-weight: 400;
}

.nav .action a:last-child {
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
  color: #1ebfc1;
  font-weight: 600;
}

.nav .action a:last-child:hover {
  background-color: #1ebfc1;
  color: #fff;
}

.hero {
  padding: 39px 0 79px;
}
.hero .content {
  display: flex;
}
.hero-info {
  width: 41%;
  margin-top: 93px;
}

.hero-info .title {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
}

.hero-info .heading {
  margin-top: 18px;
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero-info .desc {
  word-break: keep-all;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
}

.hero-info .ctn-link {
  margin-right: 50px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero-info .ctn-group {
  display: flex;
  align-items: center;
  margin-top: 52px;
}

.hero-info .watch-video {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border: none;
}
.hero-stats {
  position: relative;
  width: 57%;
  margin-left: 71px;
}
.hero-stats .img {
  display: block;
  margin-left: auto;
  /* right: 0;
  position: absolute; */
  width: 90%;
  height: 631px;
  object-fit: cover;
}

.hero-stats .courses {
  display: flex;
  align-items: center;
  padding: 17px 25px 18px;
  position: absolute;
  top: 149px;
  left: 25px;
  width: 157px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-stats span {
  margin-left: 16px;
  color: #0d1111;
  font-size: 1.1rem;
  line-height: 1.35;
  font-weight: 500;
}

.hero-stats .courses .book {
  position: absolute;
  bottom: 26px;
  left: 29px;
  width: 28px;
  height: 4px;
  border-radius: 999px;
  background-color: #fff;
}

.hero-stats .schedules-block {
  position: absolute;
  left: 0;
  bottom: 46px;
  display: flex;
  padding: 16px 25px 23px;
  width: 124px;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  gap: 16px;
}

.hero-stats .schedules-img img {
  display: block;
}

.hero-stats .schedules-img img:nth-child(2) {
  margin-top: 12px;
  margin-bottom: 10px;
}

.hero-stats .schedules-block .item {
  margin: 0 auto;
  width: 26px;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero-stats .active-block {
  position: absolute;
  right: 45px;
  bottom: 41px;
  padding: 17px 35px;
  width: 207px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-stats .active-block .avatar-group {
  display: flex;
  margin-top: 8px;
}

.hero-stats .active-block .avatar {
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-stats .avatar:not(:first-child) {
  margin-left: -7px;
}

/* Features */
.features {
  padding: 50px 0;
  margin-top: 80px;
}

.features-top {
  width: 53%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.features-list {
  width: 1024px;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.features-list .item:first-child {
  width: 168px;
}

.features-list .item:nth-child(2) {
  width: 223px;
}

.features-list .item:last-child {
  width: 224px;
}

.features-list .title {
  margin-top: 26px;
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
}

.features-list .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.68;
}

/* Courses */
.courses {
  margin-top: 30px;
  padding-top: 50px;
}

.courses-top .main-desc {
  width: 47%;
}
.courses-top .main-heading {
  margin-top: 18px;
}
.courses-top .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}

.courses-top .row .link {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
}

.courses-list {
  display: flex;
  gap: 47px;
  margin-top: 79px;
}
.courses-list .item {
  width: 100%;
  position: relative;
}
.courses-list .thumbnail {
  display: block;
  width: 100%;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;

  cursor: pointer;
}
.courses-list .thumbnail:hover {
  opacity: 0.7;
  background: #d0efed;
}

.courses-list .body {
  position: absolute;
  top: 322px;
  width: 91%;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses-list .body .title {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-list .body .fee {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.courses-list .fee span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.courses-list .body .desc {
  margin-top: 12px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.courses-list .body .qty {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}

.courses-list .qty .dot {
  margin-top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
}

.courses-list .qty-item {
  display: flex;
  align-items: center;
}

.courses-list .container {
  display: flex;
  justify-content: center;
}

/* Stats */
.stats {
  padding: 89px 0;
  margin-top: 300px;
  margin-bottom: 100px;
}
.stats .content {
  width: 862px;
}
.stats .list {
  display: flex;
  justify-content: space-between;
}

.stats .list strong {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}

.stats .list .desc {
  margin-top: 11px;
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
}

/* Review */
.review {
  padding: 50px 0;
  margin: 25px 0;
}
.review .content {
  display: flex;
  gap: 72px;
}
.review .info {
  width: 38%;
}

.review .info .desc {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}
.review .sub-desc {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 33px;
}
.review .sub-desc p {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.review .sub-desc span {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
}

.review .info .dash {
  width: 8px;
  height: 2px;
  background: #070707;
}

.review .info .arrow-group {
  display: flex;
  margin-top: 52px;
  gap: 30px;
}

.review .avatar {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  object-fit: cover;
}
.review .avatar-group {
  width: 62%;
  position: relative;
}
.review .avatar-group .avatar:first-child {
  position: absolute;
  top: 0;
  left: 144px;
}

.review .avatar-group .avatar:nth-child(2) {
  width: 110px;
  height: 110px;
  position: absolute;
  right: 0;
  top: 19px;
}

.review .avatar-group .avatar:nth-child(3) {
  width: 235px;
  height: 235px;
  position: absolute;
  top: 107px;
  right: 171px;
}

.review .avatar-group .avatar:nth-child(4) {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 29px;
  right: 32px;
}

.review .avatar-group .avatar:nth-child(5) {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 0;
  left: 212px;
}

.review .avatar-group .avatar:nth-child(6) {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 145px;
  left: 0;
}
